.btn, input[type='submit'] {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem !important;
    border-radius: .25rem;
    font-weight: bold;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary, input[type='submit'] {
    color: #fff !important;
    background-color: var(--blue) !important;
}

    .btn-primary:hover, input[type='submit'] {
        color: #fff !important;
        background-color: var(--blue_border) !important;
    }

.btn-danger {
    color: #fff !important;
    background-color: var(--red) !important;
    border-color: #bf372b !important;
}

    .btn-danger:hover {
        color: #fff !important;
        background-color: #ca3c30 !important;
        border-color: #b93a2f !important;
    }

.btn-dark {
    color: #fff !important;
    background-color: var(--dark) !important;
    border-color: var(--dark) !important;
}

.btn-outline-dark {
    color: var(--font_color) !important;
    background: #f9f9f9;
    background-image: none;
    border-color: #e6e6e6;
    box-shadow: none;
    background-position-x: 6px;
    background-position-y: 49%;
    background-repeat: no-repeat;
}

    .btn-outline-dark:hover {
        background-color: #f9f9f9;
        border-color: #d4d4d4;
        color: var(--font_color) !important;
    }

.btn-sm, .button-small, input[type='submit'] {
    padding: .2rem .5rem !important;
    font-size: .875rem;
    border-radius: .2rem;
}

button.tab-left, button.tab-right {
    height: 14px !important;
    width: 14px !important;
}
